In [1]:
import pandas as pd
import numpy as np
from io import StringIO

In [97]:
def squeeze_nan_left(x):
            original_columns = x.index.tolist()
            squeezed = x.dropna()
            squeezed.index = [original_columns[n] for n in range(squeezed.count())]
            return squeezed.reindex(original_columns, fill_value=np.nan)
    
def filing_table_format(x):
    x = x.dropna(axis = 0, how = 'all').dropna(axis = 1, how = 'all')    
    
    for i in range(0,x.shape[0]):
        for j in range(0,x.shape[1]):
            if type(x.iloc[i,j]) == str:
                if x.iloc[i,j] == "-":
                    x.iloc[i,j] = 0
                elif len(x.iloc[i,j]) < 2:
                    x.iloc[i,j] = np.nan

In [189]:
#Everi - https://www.sec.gov/Archives/edgar/data/1318568/000155837017002779/evri-20170523xdef14a.htm
#MNTA - https://www.sec.gov/Archives/edgar/data/1235010/000123501017000006/mnta2017proxystatement.htm

url = 'https://www.sec.gov/Archives/edgar/data/1235010/000123501017000006/mnta2017proxystatement.htm'

filing = pd.read_html(url)

#168 for Everi
#128 for MNTA

sctind = 128
SCTo = filing[sctind]
SCTo

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Name and Principal Position,Year,Salary(1)($),Stock Awards(2) ($),Option Awards(2) ($),Non‑Equity Incentive Plan Compensation ($),All Other Compensation(3) ($),Total ($),NaN,NaN,NaN,NaN,NaN,NaN
3,Craig A. Wheeler,2016,689179,NaN,2149290,NaN,737818,NaN,554789,NaN,29948.0,NaN,4161024.0,NaN
4,"President, Chief Executive Officer and Director",2015,691484,NaN,3064900,NaN,1046052,NaN,512723,NaN,29503.0,NaN,5344662.0,NaN
5,2014,643356,NaN,1257200,NaN,1558564,NaN,432335,NaN,29610.0,NaN,3921065.0,NaN,NaN
6,Scott M. Storer (4),2016,40385,NaN,684000,NaN,940375,NaN,—,NaN,150.0,NaN,1664910.0,NaN
7,Senior Vice President and Chief Financial Officer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Matthew P. Ottmer (5)(6),2016,450000,NaN,733500,NaN,—,NaN,252281,NaN,13091.0,NaN,1448872.0,NaN
10,Chief Operating Officer,2015,34615,NaN,—,NaN,1507975,NaN,—,NaN,29.0,NaN,1542619.0,NaN
11,Ganesh V. Kaundinya,2016,433350,NaN,791487,NaN,221345,NaN,201833,NaN,13091.0,NaN,1661106.0,NaN
12,Chief Scientific Officer and Senior Vice Presi...,2015,432708,NaN,927139,NaN,310065,NaN,187924,NaN,13014.0,NaN,1870850.0,NaN
13,2014,400656,NaN,346844,NaN,429440,NaN,163468,NaN,12852.0,NaN,1353260.0,NaN,NaN
14,Bruce A. Leicher,2016,414655,NaN,771993,NaN,200265,NaN,193126,NaN,12998.0,NaN,1593037.0,NaN
15,"Senior Vice President, General Counsel and Sec...",2015,416042,NaN,902583,NaN,281874,NaN,176279,NaN,12932.0,NaN,1789710.0,NaN
16,2014,387085,NaN,364193,NaN,450915,NaN,144925,NaN,12731.0,NaN,1359849.0,NaN,NaN
17,Richard P. Shea (7),2016,399576,NaN,—,NaN,233022,NaN,—,NaN,12743.0,NaN,645341.0,NaN
18,Senior Vice President and Chief Financial Officer,2015,400912,NaN,878028,NaN,253690,NaN,165621,NaN,12666.0,NaN,1710917.0,NaN
19,2014,374819,NaN,346844,NaN,429440,NaN,134935,NaN,12516.0,NaN,1298554.0,NaN,NaN

In [202]:
#Table Formatting
#left squeeze needs to apply after for loop

SCT = SCTo.apply(squeeze_nan_left, axis=1).dropna(axis = 0, how = 'all').dropna(axis = 1, how = 'all') 

for i in range(0,SCT.shape[0]):
    for j in range(0,SCT.shape[1]):
        if type(SCT.iloc[i,j]) == str:
            if SCT.iloc[i,j] == "-":
                SCT.iloc[i,j] = 0
            elif '(' in SCT.iloc[i,j]:
                tempstr = SCT.iloc[i,j].split("(")
                tempstr2 = tempstr[0]
                SCT.iloc[i,j] = tempstr2
            elif len(SCT.iloc[i,j]) < 2:
                SCT.iloc[i,j] = np.nan

SCT = SCT.replace('', np.nan)
SCT.iloc[:,0] = SCT.iloc[:,0].fillna(value = '')
SCT = SCT.fillna(value = '')
#SCT = SCT.rename(columns=SCT.iloc[0]).drop(index = 1)                

#SCT.apply(filing_table_format)  

#SCT = SCT.stack()
#type(SCT.iloc[3,4])
SCT

,0,1,2,3,4,5,6,7
2,Name and Principal Position,Year,Salary,Stock Awards,Option Awards,Non‑Equity Incentive Plan Compensation,All Other Compensation,Total
3,Craig A. Wheeler,2016,689179,2149290,737818,554789,29948,4.16102e+06
4,"President, Chief Executive Officer and Director",2015,691484,3064900,1046052,512723,29503,5.34466e+06
5,2014,643356,1257200,1558564,432335,29610,3.92106e+06,
6,Scott M. Storer,2016,40385,684000,940375,,150,1.66491e+06
7,Senior Vice President and Chief Financial Officer,,,,,,,
9,Matthew P. Ottmer,2016,450000,733500,,252281,13091,1.44887e+06
10,Chief Operating Officer,2015,34615,,1507975,,29,1.54262e+06
11,Ganesh V. Kaundinya,2016,433350,791487,221345,201833,13091,1.66111e+06
12,Chief Scientific Officer and Senior Vice Presi...,2015,432708,927139,310065,187924,13014,1.87085e+06
13,2014,400656,346844,429440,163468,12852,1.35326e+06,
14,Bruce A. Leicher,2016,414655,771993,200265,193126,12998,1.59304e+06
15,"Senior Vice President, General Counsel and Sec...",2015,416042,902583,281874,176279,12932,1.78971e+06
16,2014,387085,364193,450915,144925,12731,1.35985e+06,
17,Richard P. Shea,2016,399576,,233022,,12743,645341
18,Senior Vice President and Chief Financial Officer,2015,400912,878028,253690,165621,12666,1.71092e+06
19,2014,374819,346844,429440,134935,12516,1.29855e+06,

In [196]:
type(SCT.iloc[3,0])

str

In [195]:
SCT.iloc[3,0]

'2014'